.card {
  width: 250px;
  height: 300px;
  background-color: var(--bg-muted);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 10px;
  gap: 4px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
}
.name {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
}
.price {
  color: var(--text-color);
  font-weight: 400;
}
.card button {
  padding: 5px 10px;
  border: none;
  box-shadow: var(--box-shadow);
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  /* background-color: var(--text-color); */
}
.card button:hover {
  transform: scale(1.03);
}
.card:hover {
  transform: scaleY(1px);
}
