.title {
  text-align: center;
}
#main {
  /* max-width: 1240px; */
  margin: auto;
  background-color: var(--bg-color);
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
}
.showMore {
  display: flex;
  justify-content: center;
}
.showMore button {
  padding: 10px 15px;
  border: none;
  box-shadow: var(--box-shadow);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--secondary-color);
}
.showMore button:hover {
  transform: scale(1.03);
}
