* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root .light {
  --bg-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 60%);
  --primary-color: hsl(0, 0%, 75%);
  --bg-muted: hsl(0, 0%, 90%);
  --box-shadow: rgb(255, 255, 255) 0px 1px 4px;
  --text-color: hsl(0, 0%, 0%);
}

:root .dark {
  --bg-color: hsl(0, 0%, 10%);
  --primary-color: hsl(0, 0%, 20%);
  --secondary-color: hsl(0, 0%, 30%);
  --bg-muted: hsl(0, 0%, 40%);
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --text-color: hsl(0, 0%, 95%);
}
body {
  background-color: var(--bg-color);
}
